.leftArea{

  width: 220px;

}

.rightArea{

  width: 722px;

}



.g_nav{

  margin: 0 0 20px 20px;

  padding: 0 0 0 18px;

  border-left: 3px solid #ce1219;

}



.g_nav_tit{

  height: 40px;

  line-height: 40px;

  font-size: 18px;

  font-family: "microsoft yahei";

}



.guide_icon a{

  display: block;

  font-size: 14px;

  padding: 8px 0 0 58px;

  margin: 12px 0 0 0 ;

  background: url(../images/guide_detail_icon.png) no-repeat;

}

.guide_icon a{

  color: #000;

}

.guide_icon a:hover{

  text-decoration: none;

}

.guide_icon a span{

  display:inline-block;

  *display: block;

  *zoom: 1;

  padding: 2px;

}

.guide_icon a .on{

  background: #ce1219;

  color: #fff;

  font-weight: bold;

}



.guide_icon .icon1{background-position: 0 0;}

.guide_icon .icon2{background-position: 0 -33px;}

.guide_icon .icon3{background-position: 0 -66px;}

.guide_icon .icon4{background-position: 0 -99px;}

.guide_icon .icon5{background-position: 0 -132px;}

.guide_icon .icon6{background-position: 0 -165px;}

.guide_icon .icon7{background-position: 0 -198px;}

.guide_icon .icon8{background-position: 0 -231px;}

.guide_icon .icon9{background-position: 0 -264px;}

.guide_icon .icon10{background-position: 0 -297px;}

.guide_icon .icon11{background-position: 0 -331px;}

.guide_icon .icon12{background-position: 0 -364px;}







.detail h2{

  font-size: 24px;

  line-height: 54px;

  font-weight: normal;

  text-align: center;

  color: #ce1219;

  border-bottom: 2px solid #e7e7e7;

  margin-bottom: 24px;

}

.d_txt{

  font-size: 14px;

}







.d_img{

  width: 470px;

  position: relative;

  margin: 0 auto;

  padding-top: 43px;

  overflow: hidden;

  text-align: center;

}



.d_img_box,

.d_img_box li,

.d_img_box img{

  width: 400px;

  height: 280px;

}

.d_img_box{

  margin: 0 auto;

  position: relative;

  overflow: hidden;

}

.d_img_box ul{position: absolute;}

.d_img_box li{float: left;}

.d_img_left,

.d_img_right{

  font-size: 60px;

  color: #9a9a9a;

  cursor: pointer;

  position: absolute;

  font-family: simsun;

  font-weight: bold;

}

.d_img_left{

  top: 40%;

  left: 0;

}

.d_img_right{

  top: 40%;

  right: 0;

}



.d_img a{

  color: #000000;

  line-height: 2;

}


.titBorder {
  display: inline-block;
  border-top: 4px solid #ce1219;
  padding: 0 5px 0 0;
}

.tit h2 {
  font-size: 18px;
  color: #ce1219;
  font-weight: normal;
  line-height: 36px;
  padding-left: 44px;

}