{template "content","header"}

<link href="{LED_PATH}css/exhibition_about.css?v=1" rel="stylesheet" />
<!--头部结束-->
<!-- 内容 -->
<div class="container comm">
	<div class="lt">
	   {template "content","left_box"}
	</div>
    <div class="about right_content" >
         <div class="rt">
                <div class="about-md">
                    <ul>
					{pc:get sql="SELECT * FROM phpcms_news WHERE catid=$catid ORDER BY listorder DESC LIMIT 10--" return="data"}
						{loop $data $r}
						 <li>
							<a href="{$r[url]}">
								<img src="{$r[thumb]}" style="height:199px;">
								<p class="title">{$r[title]}</p>
							</a>
						</li>
						{/loop}
					{/pc}
                       
                    </ul>
                </div>
            </div>
    </div>
  
    <div class="clear"></div>
</div>
<!-- 内容END -->
<!--底部开始-->
{template "content","footer"}