    <div class="WeiboDynamic">
        <div class=" WH380 C-a" >
            <div class="C-a-title">
                <span>官方微博动态</span>
                <a href="">More</a>
            </div>
            <p></p>
            <span style="margin:25px 0 0 40px; float:left; font-weight:bold; font-size:17px; text-align: center">

            <a href="http://weibo.com/cbdfair">
            2015广州国际智能广告标识及LED展览会
            <p>
Intelligent Signs & LED Exhibition, GuangZhou 2015
            </p>
            <img src="{LED_PATH}images/weixin.jpg" width="140" height="140" />
            </a></span>
        </div>
    </div>